<div class="footer-container">
    <div class="contact-us foot-col">
        <p class="footer-heading">Contact Us : </p><br>
        <ul>
            <li>Mob : +91 8200732962</li>
            <li>Email : techmet@gmail.com</li>
            <li>follow on social media</li>
        </ul>
    </div>
    <div class="important-links foot-col">
        <p class="footer-heading">important links : </p><br>
        <ul>
            <li>Home page</li>
            <li>About page</li>
            <li>search accounts</li>
            <li>explore more</li>
            <li>similar projects</li>
            <li>Network website</li>
        </ul>
    </div>
    <div class="documentation foot-col">
        <p class="footer-heading">Documentation : </p><br>
        <ul>
            <li>Read Documentation</li>
            <li>Dictionary</li>
            <li>search accounts</li>
            <li>Network website</li>
            <li>Developer </li>
        </ul>
    </div>
    <div class="about-us foot-col">
        <p class="footer-heading">About Us : </p><br>
        <ul>
            <li>Home page</li>
            <li>About page</li>
            <li>search accounts</li>
            <li>explore more</li>
            <li>similar projects</li>
            <li>Network website</li>
        </ul>
        <p class="creator">@created by shyam-53</p>
    </div>
</div>
<script src="/home.js"></script>