<header>
    <div class="logo">
        <label id="checkbtn"><i class="fa-solid fa-bars"></i></label>
        <img src="https://s3.amazonaws.com/eaglecom.net/news/June2019/xn9Tq8YRbeCzzoYios3kvdMT.png" alt="Logo">
        <h1>TechMeet</h1>
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search people" id="searchPerson" onchange="searchPerson()">
    </div>
    <div class="login-signup">
        <a href="/" id="login">Login</a>
        <a href="" id="signup">Sign Up</a>
    </div>
</header>
<div class="side-navbar" id="sideBar">
    <div class="close">
        <h2>Hello, Welcome </h2>
        <label id="checkbtn2"><i class="fa-solid fa-xmark"></i></label>
    </div>
    <ul>
        <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="#"><i class="fa-solid fa-address-card"></i> About</a></li>
        <li><a href="#"><i class="fa-solid fa-phone"></i> Contact</a></li>
        <li><a href="#"><i class="fa-solid fa-book-open"></i> Documents</a></li>
        <li><a href="#"><i class="fa-brands fa-rocketchat"></i> Chatting</a></li>
        <li><a href="/techmeet/home/comments"><i class="fa-regular fa-comment"></i> Comments</a></li>
    </ul>
</div>
