<%- include("includes/head.ejs") %>

<body>
    <%- include("includes/navbar.ejs") %>
    <!-- navbar-completed -->

    <div class="home-screen-container">
        <img src="https://wallpaperaccess.com/full/11069686.jpg" alt=""  id="homeBkgrnd">
        <h1>Meet With Technologiest.</h1>
        <div class="content">
            <p>TechMeet is a social media website. which will help you to connect with people who is working on defferent types of technologies. Also you can view profile of any technologiests and you can give your feedback to their posts.</p>
            <a href="#">Explore <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

    <div class="text-heading">
        <h2>Here are some popular technologiests :</h2>
    </div>
    <div class="popular-technologiests">
        <div class="techee-card-container">
            <div class="image">
                <img src="https://i0.wp.com/short-biography.com/wp-content/uploads/hrithik-roshan/Hrithik-Roshan.jpg">
                <h2>Hritik Roshan</h2>
            </div>
            <div class="techee-content">
                <p>Bollywood Super Star | Fighter, Krish | very beautiful and ver talented, handsome...</p> <br><br>
                <a href="http://localhost:8080/techmeet/hritikroshan">view profie</a>
            </div>
        </div>
        <div class="techee-card-container">
            <div class="image">
                <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/09/27/871398-tigershroff-092819.jpg">
                <h2>Tiger Shroff</h2>
            </div>
            <div class="techee-content">
                <p>Bollywood Super Star | Fighter, Krish | very beautiful and ver talented, handsome...</p> <br><br>
                <a href="http://localhost:8080/techmeet/tigershroff">view profie</a>
            </div>
        </div>
        <div class="techee-card-container">
            <div class="image">
                <img src="https://static.toiimg.com/photo/imgsize-141699,msid-77357187/77357187.jpg">
                <h2>Salman Khan</h2>
            </div>
            <div class="techee-content">
                <p>Bollywood Super Star | Fighter, Krish | very beautiful and ver talented, handsome...</p> <br><br>
                <a href="http://localhost:8080/techmeet/salmankhan">view profie</a>
            </div>
        </div>
        <div class="techee-card-container">
            <div class="image">
                <img src="https://www.suntiros.com/wp-content/uploads/2017/01/Aamir-Khan-Latest-Hair-Style-Pictures-Pics.jpg">
                <h2>Amir Khan</h2>
            </div>
            <div class="techee-content">
                <p>Bollywood Super Star | Fighter, Krish | very beautiful and ver talented, handsome...</p> <br><br>
                <a href="http://localhost:8080/techmeet/amirkhan">view profie</a>
            </div>
        </div>
        <div class="techee-card-container">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg">
                <h2>Sarukh Khan</h2>
            </div>
            <div class="techee-content">
                <p>Bollywood Super Star | Fighter, Krish | very beautiful and ver talented, handsome...</p> <br><br>
                <a href="http://localhost:8080/techmeet/sarukhkhan">view profie</a>
            </div>
        </div>
    </div>
    <%- include("includes/footer.ejs") %>
</body>
</html>