<%- include("includes/head.ejs") %>
<body>
    <%- include("includes/logdnavbar.ejs") %>

    <div class="noAccount">
        <h1>No such account Found !</h1>
    </div>

    <%- include("includes/footer.ejs") %>
</body>
</html>